:root {
    --color_main : #292a30;
    --color_element: #ff993d;
    --color_addition: #323333;
    --color_custom: #f779ad;
    --color_hover: #ffff;
}

* {
    margin: 0;
    padding: 0;
    color: var(--color_element);

    font-family: Arial, serif;

    transition: all 0.3s;
}

body {
    background: var(--color_main);
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color_hover);
}

/*+++Scrollbar Style+++*/

::-webkit-scrollbar {
    width: 18px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--color_element);
    border-radius: 15px;
    border: var(--color_main) solid 5px;
}

/*---Scrollbar Style---*/


/*+++Header style+++*/

header {
    display: flex;
    position: fixed;
    width: 100%;
    padding: 16px 0;
    z-index: 9999;
}

.header_top {
    background: var(--color_element);
}

.header_bottom {
    background: var(--color_addition);
}

.header_navigation {
    font-size: 110%;
    font-weight: 300;
    width: 80%;
    margin: 0 auto;
}

.header_navigation a {
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

.header_navigation ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

.header_navigation_top a {
    color: var(--color_addition);
}

.header_navigation_top a:hover {
    color: var(--color_hover);
}

.header_navigation_bottom a {
    color: var(--color_hover);
}

.header_navigation_bottom a:hover {
    color: var(--color_element);
}

/*---Header style---*/

/*+++I am Style+++*/

.i_am {
    background: url("../image/background.gif") no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.i_am_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 60px;


    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 400px;
    perspective: 400px;
}

.i_am_container_item {
    margin: 50px;
}

.i_am_container img {
    width: 500px;
    border-radius: 30px;
}

.my_information {
    max-width: 600px;
}

@-webkit-keyframes notransform {
    50% {
        transform: none;
    }
}
@keyframes notransform {
    50% {
        transform: none;
    }
}

.my_information h1 {
    font-size: 50px;
}

.my_information p {
    margin-top: 50px;
    font-size: 22px;

    -webkit-animation: notransform 8s infinite;
    animation: notransform 8s infinite;

    -webkit-transform: rotate3d(1, .5, 1, 5deg);
    -ms-transform: rotate3d(1, .5, 1, 5deg);
    transform: rotate3d(1, .5, 1, 5deg);
}

/*---I am Style---*/

/*+++About me Style+++*/

.about_me {
    display: flex;
    justify-content: space-around;
}

.about_me_container {
    max-width: 900px;
    border-radius: 20px;
    padding: 50px;
    margin: 100px;
    background: var(--color_addition);
}

.about_my_outlook_on_life {
    margin: 45px 0;
    display: flex;
}

.about_my_outlook_on_life img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-right: 50px;
}

.about_my_outlook_on_life p {
    margin: auto 0;
}

.about_me_info {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about_me_info span {
    color: var(--color_hover);
    margin: 0 10px;
}

.about_me_info_container {
    display: flex;
}

.about_me_work {
    margin: 40px 0;
}

.about_me_work table {
    margin: 30px auto 0 auto;
    border-spacing: 10px;
}

.about_me_work td {
    padding: 20px;
    border: 1px solid var(--color_element);
    cursor: pointer;
    color: var(--color_hover);
}

.about_me_work td a {
    padding: 20px;
    color: var(--color_hover);
    text-decoration: none;
}

.about_me_work tr:hover td {
    border-radius: 10px;
    border-color: var(--color_hover);
}

.about_me_skills_container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.about_me_skills_container p {
    color: var(--color_custom);
    padding: 10px;
    border: 1px solid var(--color_element);
    border-radius: 10px;
    cursor: pointer;
    margin: 5px 5px;
    font-weight: 600;
}

.about_me_skills_container p:hover {
    color: var(--color_hover);
    border: 1px solid transparent;
}

/*---About me Style---*/

/*+++Links Style+++*/

.links {
    background: var(--color_element);
}

.links_content ul {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
}

.links_content li {
    margin: auto auto;
}

.links_content a {
    cursor: pointer;
    display: flex;
}

.links_content a:hover p {
    color: var(--color_hover);
}

.links_content p {
    color: var(--color_addition);
    margin: auto 0;
    font-weight: 600;
}

.links_content img {
    margin-right: 5px;
    max-width: 40px;
    max-height: 40px;
}

/*---Links Style---*/

/*+++Common Style+++*/

p {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
}

/*---Common Style---*/